{
  "sourceMaps": true,
  "module": {
    "type": "commonjs",
    "noInterop": true
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "decoratorMetadata": true
    },
    "target": "es2022",
    "preserveAllComments": false
  }
}
